<section width=100px>
    <% if(session.cart) {%>
    <section>
    <div class="cart-container">
        <div id="black-cart">
        <img src="/img/cart-black.png" width="50px" height="50px" id="black-img">
        <h2>Order Summary</h2>
        </div>
    </div>
</section>


<section class="list">
    <div>
        <% for(let food of Object.values(session.cart.items)){%>
    <div id="item-list">
        
        <div>
            <img  width ="150"src="/img/<%=food.item.image%>" alt="pizza-list">

        </div>
        <div  id="list-details">
            <h4 id="mac"><%= food.item.name%></h4>
            <span id="cc"><%=food.item.size%></span>
        </div>
        <span id="pc">
        <%=food.qty%>
        </span>
        <span id="rup"><%=food.item.price*food.qty%></span>

    </div>
    <%}%>
</div>
     


<div id="final">
    <h2 id="total">Total Amount :</h1>
    <h2 id="price">₹<%=session.cart.totalprice%></h1>
</div>
<div id="addd">
    <form>
    <input id="address" type="text" placeholder="Enter Address">
    <br>
    <br>
    <input  id="phone" type="text" placeholder="Enter Phone Number">
</form>
</div>
<br>

<button id="sub" type="submit">Order Now</button>

</section>


</section>
<%}else{%>


<div id="cart_text">
    <h1 id="oops"> Oops The Cart is Empty !! 😕</h1>
    <div class="pick">
         <h4> you dont pick any item please add some items from the menu to proceed </h4>
    </div>
</div>

<div id="img_cart">
    <img width="500"src="/img/img_cart.png">
</div>

<button id="btn-back"><a id="back-btn" href="#">GO Back</a></button>

<%}%>








